
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button:not(:disabled),
  [role='button']:not([aria-disabled='true']),
  summary,
  select,
  label[for] {
    cursor: pointer;
  }

  button:disabled,
  [role='button'][aria-disabled='true'] {
    cursor: not-allowed;
  }
}
